* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.active {
  background-color: red; /* Цвет при активации */
}

td {
  border: 1px solid green;
  width: 50px;
  height: 50px;
}

ul {
  list-style-type: none;
}