* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.active {
  background-color: red; /* Цвет при активации */
}

td {
  border: 1px solid green;
  width: 50px;
  height: 50px;
}

ul {
  list-style-type: none;
}

.block {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: red;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 0;
}
.top {
  z-index: 9999;
}

#myElement {
  width: 100px;
  height: 100px;
  background-color: blue;
  position: absolute;
  left: 50px;
  top: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.active {
  background-color: red;
}