/*
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.active {
  background-color: red; 
}

td {
  border: 1px solid green;
  width: 50px;
  height: 50px;
}

ul {
  list-style-type: none;
}

.block {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: red;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 0;
}
.top {
  z-index: 9999;
}

#myElement {
  width: 100px;
  height: 100px;
  background-color: blue;
  position: absolute;
  left: 50px;
  top: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.active {
  background-color: red;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#myButton {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

textarea {
  resize: both; 
  overflow: auto; 
}

body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.circle {
  position: absolute;
  width: 20px; 
  height: 20px; 
  border-radius: 50%;
  background-color: red; 
  pointer-events: auto; 
}
*/
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f0f0f0;
  padding: 10px;
  z-index: 10; /* Чтобы меню было над контентом */
}

.menu-link {
  text-decoration: none;
  color: black;
  padding: 5px 10px;
}

.menu-link.active {
  background-color: #ddd; /* Выделение активной ссылки */
}

section {
  padding: 50px;
  margin-top: 100px; /* Отступ для меню */
}